.container-fluid{
    background-color: rgb(130, 180, 255);
    transition: 2s;
}

html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    min-height: 100%; 
}

.road{
    margin: 5px 100px 5px 10px;
    border: 2px dashed grey;
    background-color: rgb(130, 180, 255);
}

.trace{
    border: 5px solid;
    border-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(105,105,105) 50%, rgba(105,105,105) 90%, rgba(0,0,0,0) 100%) 1;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.car img{
    width: 150px;
    height: auto;
}

.car .nos{
    border-style: solid;
    border-width: 20px 1px 20px 90px;
    border-color: red transparent red transparent;
    margin-left: -90px;
    opacity: 0;
    transition: 1s;
}

.details input{
    width: 66px;
    font-size: 20px;
    padding: 0 3px;
    border: none;
    text-align: center;
}

.details input::placeholder{
    font-size: 15px;
}

.place p{
    transform: translateX(90px);
    font-size: 60px;
    opacity: 0;
}

.start{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(104, 255, 0, 1);
    border-radius: 50%;
    border: 3px solid black;
    position: fixed;
    right: 50%;
    top: 50%;
    margin: -50px -50px 0 0;
    font-size: 30px;
    font-family: -apple-system, sans-serif;
    cursor: pointer;
    animation: shadow-start 1.3s linear infinite;
}

.nitro{
    position: fixed;
    right: 50%;
    top: 50%;
    margin: -250px -50px 0 0;
    display: none;
}

.nitro img{
    width: 100px;
    height: 28px;
    cursor: grab;
}

@keyframes shadow-start {
    0%{
        box-shadow: 0 0 0 0px rgb(104, 255, 0, 1),
                    0 0 0 15px rgb(104, 255, 0, .66),
                    0 0 0 30px rgb(104, 255, 0, .33);
    }
    100%{
        box-shadow: 0 0 0 15px rgb(104, 255, 0, .66),
                    0 0 0 30px rgb(104, 255, 0, .33),
                    0 0 0 45px rgb(104, 255, 0, 0);
    }
}

@keyframes shadow-restart {
    0%{
        box-shadow: 0 0 0 0px rgb(217, 255, 0, 1),
                    0 0 0 15px rgb(217, 255, 0, .66),
                    0 0 0 30px rgb(217, 255, 0, .33);
    }
    100%{
        box-shadow: 0 0 0 15px rgb(217, 255, 0, .66),
                    0 0 0 30px rgb(217, 255, 0, .33),
                    0 0 0 45px rgb(217, 255, 0, 0);
    }
}